<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path('app_home') }}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                {% if app.user %}

                    {% if "ROLE_RESPONSABLE" in app.user.roles %}
                        {{ include('layouts/responsable/nav-items_responsable.html.twig') }}
                    {% elseif "ROLE_SECRETAIRE" in app.user.roles %}
                        {{ include('layouts/secretaire/nav-items_secretaire.html.twig') }}
                    {% else %}
                        {{ include('layouts/etudiant/nav-item_etudiant.html.twig') }}
                    {% endif %}

                {% endif %}
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">

            {% if app.user %}

                {% if "ROLE_RESPONSABLE" in app.user.roles or "ROLE_SECRETAIRE" in app.user.roles %}
                    {{ include('layouts/partials/research_nav_bar_button.html.twig') }}
                {% endif %}

                <a class="nav-link" href="{{ path('app_logout') }}">Logout
                    <span class="sr-only">(current)</span>
                </a>

            {% else %}
                <a class="nav-link" style="display: inline-block" href="{{ path('app_register') }}">Register
                    <span class="sr-only">(current)</span>
                </a>

                <a class="nav-link" style="display: inline-block" href="{{ path('app_login') }}">Login
                    <span class="sr-only">(current)</span>
                </a>
            {% endif %}
        </ul>
    </div>
</nav>